:root {
  /* Colors*/
  --color-bg: #f9fafb;
  --color-surface: #fff;
  --color-text: #111827;
  --color-black: #000;
  --color-muted: #6b7280;
  --color-primary: #2563eb;
  --color-primary-light-1: #4285f4;
  --color-primary-light-2: #5b94f0;
  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-danger: #dc2626;
  --color-dark-grey: rgb(104, 103, 103);

  /* Spacing */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;

  /* Radius */
  --radius-1: 4px;
  --radius-2: 8px;
  --radius-3: 12px;

  /* Shadows */
  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-1: 0 4px 6px rgba(0, 0, 0, 0.15);

  /* Font */
  --font-base: 'Inter', sans-serif;
}
